<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - EV database</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet"/>

</head>

<body>

<!-- NAVIGATION BAR -->

<section>
    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
        <a class="navbar-brand font-weight-bold" href="/" style="color: #1B62FB;">EVHub</a>
        <button aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent-4" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/search-cars">Search Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addcar">Add Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/compare-cars">Compare Cars</a>
                </li>

                <li class="nav-item">
                    <a class="btn login-button" href="{{ url }}">{{ login_status }}</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--/.Navbar -->
</section>
<!-- END NAVIGATION BAR -->

<!-- Hero -->
<section style="padding: 90px 0 140px 0;">

    <div class="container">
        <div class="row">
            <!-- LEFT SIDE OF THE HERO -->
            <div class="col">
                <h1 class="display-2 header-text">{{ car_deets.manufacturer }}</h1>
                <p class="lead pl-3" style="font-weight: 500; font-size: 30px">{{ car_deets.name }}</p>
                {% if user %}
                <div>
                    <button class="btn review-button" data-target="#viewReviewModal" data-toggle="modal">View Review
                    </button>
                    <button class="btn review-button" data-target="#reviewModal" data-toggle="modal"
                            style="width: 100px;">Review
                    </button>
                    <button class="btn edit-button" data-target="#exampleModal" data-toggle="modal">Edit</button>
                    <button class="btn delete-button" data-target="#deleteModal" data-toggle="modal">Delete</button>
                </div>
                <div class="mt-2">
                    <p class="lead text-danger" name="error_mess">{{ error_message }}</p>
                    <p class="lead text-success" name="error_mess">{{ success_message }}</p>
                </div>
                {% else %}
                <div>
                    <button class="btn review-button" data-target="#viewReviewModal" data-toggle="modal">View Review
                    </button>
                </div>
                {% endif%}

            </div>

            <!-- RIGHT SIDE OF THE HERO -->
            <div class="col">
                <img alt="" class="img-fluid" src="img/tes.png">
            </div>
        </div>
    </div>

</section>
<!-- END Hero -->

<section class="blue-background">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h5 class="fig-title">Average Rating</h5>
                    <h2 class=""> {{ average }}</h2>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h5 class="fig-title">Year</h5>
                    <h2 class="">{{ car_deets.year }}</h2>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h5 class="fig-title">Battery Size</h5>
                    <h2 class="">{{ car_deets.batterySize }}<b class="fig">Kwh</b></h2>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h5 class="fig-title">WLTP Range</h5>
                    <h2 class="">{{ car_deets.WLTP_range }}<b class="fig">km</b></h2>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h5 class="fig-title">Cost</h5>
                    <h2 class=""><b class="fig">€</b>{{ car_deets.cost }}</h2>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h5 class="fig-title">Power</h5>
                    <h2 class="">{{ car_deets.power }}<b class="fig">kW</b></h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer Links -->

<!-- Copyright -->
<!--<div class="footer-copyright text-center py-3">© 2020 Copyright. All Rights Reserved.-->
<!--</div>-->
<!-- Copyright -->
<!-- Footer -->

<!--Modal-->

<!-- Review Button Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg" id="reviewModal"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-warning">Review Vehicle</h3>

                <!-- FORM FOR ADDING CAR TO THE DATABASE FOR THE ELECTRIC VEHICLES -->
                <section class="form-section-style">

                    <div class="container p-1 bg-white">
                        <form action="/car-details?id={{ idd }}" method="post">
                            <!-- TOP ROW OF FORM -->
                            <div class="row">
                                <div class="col form-group">
                                    <textarea class="form-control" maxlength="1000" name="user_review"
                                              placeholder="Type a review here (1,000 char max)" required
                                              rows="7"></textarea>
                                </div>
                            </div>

                            <!-- BOTTOM ROW OF FORM -->
                            <div class="row">
                                <div class="col form-group">
                                    <small class="text-danger">Select a rating below by clicking the stars</small>
                                    <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                        <input id="star10" name="rating" required type="radio" value="10"/>
                                        <label for="star10" title="10 star"></label>
                                        <input id="star9" name="rating" type="radio" value="9"/>
                                        <label for="star9" title="9 star"></label>
                                        <input id="star8" name="rating" type="radio" value="8"/>
                                        <label for="star8" title="8 star"></label>
                                        <input id="star7" name="rating" type="radio" value="7"/>
                                        <label for="star7" title="7 star"></label>
                                        <input id="star6" name="rating" type="radio" value="6"/>
                                        <label for="star6" title="6 star"></label>
                                        <input id="star5" name="rating" type="radio" value="5"/>
                                        <label for="star5" title="5 star"></label>
                                        <input id="star4" name="rating" type="radio" value="4"/>
                                        <label for="star4" title="4 star"></label>
                                        <input id="star3" name="rating" type="radio" value="3"/>
                                        <label for="star3" title="3 star"></label>
                                        <input id="star2" name="rating" type="radio" value="2"/>
                                        <label for="star2" title="2 star"></label>
                                        <input id="star1" name="rating" type="radio" value="1"/>
                                        <label for="star1" title="1 star"></label>
                                    </div>
                                </div>

                                <div class="col form-group">

                                </div>
                                <div class="col form-group">

                                </div>
                                <div class="col form-group">
                                    <label></label>
                                    <input class="form-control btn btn-warning" name="button" type="submit"
                                           value="Review">
                                </div>
                            </div>

                        </form>
                    </div>

                </section>
                <!-- END FORM FOR QUERYING DATABASE FOR THE ELECTRIC VEHICLES -->
            </div>
        </div>
    </div>
</div>


<!-- View Review Button Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg" id="viewReviewModal"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-warning">Review Vehicle</h3>
                <p class="lead">{{ review_message }}</p>

                <!--We will print the list of reviews that are attached to this car -->
                {% for i in query %}
                {% for j in i.review[::-1] %}
                <div>
                    <div class="row p-3 border m-4" style="border-radius: 20px;">
                        <div class="col-12">
                            <p class="lead">{{ j.review }}</p>
                        </div>
                        <div class="col">
                            {% if j.rating == 1 %}
                            <div class="">
                                <span class="jenom float-left"></span>
                            </div>
                            {% elif j.rating == 2 %}
                            <div class="">
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                            </div>
                            {% elif j.rating == 3 %}
                            <div class="">
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                            </div>
                            {% elif j.rating == 4 %}
                            <div class="">
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                            </div>
                            {% elif j.rating == 5 %}
                            <div class="">
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                            </div>
                            {% elif j.rating == 6 %}
                            <div class="">
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                            </div>
                            {% elif j.rating == 7 %}
                            <div class="">
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                            </div>
                            {% elif j.rating == 8 %}
                            <div class="">
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                            </div>
                            {% elif j.rating == 9 %}
                            <div class="">
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                            </div>
                            {% elif j.rating == 10 %}
                            <div class="">
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                                <span class="jenom float-left"></span>
                            </div>
                            {% endif %}

                        </div>

                    </div>
                </div>
                {% endfor %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>

<!-- Edit Button Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade bd-example-modal-lg" id="exampleModal"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 style="color: #1B62FB;">Edit Vehicle Information</h3>

                <!-- FORM FOR ADDING CAR TO THE DATABASE FOR THE ELECTRIC VEHICLES -->
                <section class="form-section-style">

                    <div class="container border p-4 bg-white">
                        <form action="/car-details?id={{ idd }}" method="post">
                            <!-- TOP ROW OF FORM -->
                            <div class="row">
                                <div class="col form-group">
                                    <label for="manufacturer">Manufacturer</label>
                                    <input class="form-control" id="manufacturer" name="vehicle_manufacturer" required
                                           type="text"
                                           value="{{ car_deets.manufacturer }}">
                                </div>
                                <div class="col form-group">
                                    <label for="vehicleName">Vehicle Name</label>
                                    <input class="form-control" id="vehicleName" name="vehicle_name" required
                                           type="text"
                                           value="{{ car_deets.name }}">
                                </div>
                                <div class="col form-group">
                                    <label for="year">Year</label>
                                    <input class="form-control" id="year" name="vehicle_year" required type="number"
                                           value="{{ car_deets.year }}">
                                </div>
                                <div class="col form-group">
                                    <label for="batterySize">Battery size (Kwh)</label>
                                    <input class="form-control" id="batterySize" name="vehicle_batterySize" required
                                           step="any"
                                           type="number" value="{{ car_deets.batterySize }}">
                                </div>
                            </div>

                            <!-- BOTTOM ROW OF FORM -->
                            <div class="row">
                                <div class="col form-group">
                                    <label for="WLTP_range">WLTP range (Km)</label>
                                    <input class="form-control" id="WLTP_range" name="vehicle_WLTP_range" required
                                           type="number"
                                           value="{{ car_deets.WLTP_range }}">
                                </div>
                                <div class="col form-group">
                                    <label for="cost">Cost</label>
                                    <input class="form-control" id="cost" name="vehicle_cost" required type="number"
                                           value="{{ car_deets.cost }}">
                                </div>
                                <div class="col form-group">
                                    <label for="power">Power (Kw)</label>
                                    <input class="form-control" id="power" name="vehicle_power" required type="number"
                                           value="{{ car_deets.power }}">
                                </div>
                                <div class="col form-group">
                                    <label></label>
                                    <input class="form-control btn btn-primary" name="button" type="submit"
                                           value="Submit">
                                </div>
                            </div>

                        </form>
                    </div>

                </section>
                <!-- END FORM FOR QUERYING DATABASE FOR THE ELECTRIC VEHICLES -->
            </div>
        </div>
    </div>
</div>


<!-- Delete Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="deleteModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">Delete Vehicle</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this vehicle
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">No</button>
                <form action="/car-details?id={{ idd }}" method="post">
                    <input class="btn btn-danger" name="button" type="submit" value="Yes">
                </form>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="js/popper.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>

